<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PhoneDataStoreController</servlet-name>
		<servlet-class>com.mobile.utilities.apps.copier.controller.PhoneDataStoreController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneDataStoreController</servlet-name>
		<url-pattern>/storephonedata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhoneDataAppenderController</servlet-name>
		<servlet-class>com.mobile.utilities.apps.copier.controller.PhoneDataAppenderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneDataAppenderController</servlet-name>
		<url-pattern>/appendphonedata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhoneDataFetchController</servlet-name>
		<servlet-class>com.mobile.utilities.apps.copier.controller.PhoneDataFetcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneDataFetchController</servlet-name>
		<url-pattern>/getphonedata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhoneDataFlushController</servlet-name>
		<servlet-class>com.mobile.utilities.apps.copier.controller.PhoneDataFlushController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneDataFlushController</servlet-name>
		<url-pattern>/flushphonedata</url-pattern>
	</servlet-mapping>	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
